.Navbar {
  background-color: rgb(194, 194, 194);
  color : white;
  padding: 10px;
  overflow:auto;
  position: relative;
  width: 98%;
}

.log_button {
  display: flex;
  float: right;
  justify-content: space-between;
  column-gap: 10px;
  margin: auto;
}

.log_button div {
  background-color: black;
  justify-content: center;
  text-align: center;
  border-radius: 1rem;
  padding: 5px;
  color: white;
  font-size: 150%;
}

.logo_navbar {
  width: 150px;
  float: left;
  padding: 10px;
}